
/* 头部 */
.T-Logo{width:auto; height:48px; display: block;margin:6px 0 ;}
.T-Logo img{width:auto;height: 100%; display: block;}
.head{width: 100%;height: 60px;position: fixed;top: 0;left: 0;right: 0;z-index: 20;box-shadow: 0 1px 4px rgba(100, 100, 100, 0.1);box-sizing: border-box;padding: 0 3%;background-color: #ffcb1e;}

.xqInfor .cont p{margin-bottom: 10px;font-size: 16px; line-height: 30px;}
.xqInfor .cont img{display: block;margin: 10px auto;max-width: 100%;}

.ind-box2 .cont{padding: 0 10%;}
.ind-box2 .item{float: left;width: 25%;padding: 0 3%;box-sizing: border-box;}
.ind-box2 .item .icon{width: 100px;height: 100px;display: block;margin: 0 auto;}
.ind-box2 .item p{ margin-top: 20px;line-height: 24px;font-size: 16px;}

.ind-box3{background-color: #222;height: 700px;overflow: hidden;box-sizing: border-box;}
.ind-box3 .cont{width: 1000px;margin: 0 auto;}
.ind-box3 .left{padding-top: 120px;}
.ind-box3 .phone{width: 345px;height: 702px;display: block;}
.ind-box3 .phone img{width: 100%;height: 100%;}
.ind-box3 .right{width: 35%;padding-top: 150px;}
.ind-box3 .right .tit{font-size: 26px;line-height: 32px;}
.ind-box3 .right .text{font-size: 16px;margin: 40px auto;}
.ind-box3 .right .ewm{width: 240px;height: 240px; display: block; margin: 0 auto;}

/* 合作伙伴 */
.indx-partner li{float: left;width: 280px;height: 160px;box-sizing: border-box;margin:0 26px 30px 0;}
.indx-partner li img{width: 100%;height: 100%;display: block;}
.indx-partner li:nth-of-type(4n){margin-right: 0;}


/* 页脚 */
.footer{background: #ffcb1e; padding: 40px 0;}
.footer .cont{width:1000px;margin: 0 auto;}
.footTitle{font-size: 30px;line-height: 40px;}

.footer .footMsg{margin-top: 50px;}
.footer .footMsg .ll{width: 50%;}
.footer .footMsg .ll .phone{margin-bottom: 30px;}
.footer .footMsg .logo{width: 222px;height:70px;}



@media screen and ( max-width: 1024px){
	.head{height: 44px;}
	.headH{height: 44px;}
	.T-Logo{height: 36px;margin: 4px 0;}
	.xqInfor .cont p{margin-bottom: 5px;line-height: 28px;}
	.indx-partner li{height: 90px;}
	.ind-box2 .cont{padding: 0 5%;}
	
	.ind-box3{height:585px;}
	.ind-box3 .cont{width: 100%;box-sizing: border-box;padding: 0 10%;}
	.ind-box3 .phone{width: 300px;height: 609px;}
	.ind-box3 .left{padding-top: 80px;}
	.ind-box3 .right{padding-top: 100px;}
	.ind-box3 .right .ewm{width: 200px;height: 200px;}
	
	.indx-partner li{width: 23.5%;height: 132px;margin: 0 2% 20px 0;}
	
	.footer{padding: 40px 0;}
	.footer .cont{width: 96%;}
	.footer .footMsg .ll{width: 75%; }
	.footer .footMsg .ll .text{font-weight: normal;font-size: 15px;}
	.footer .footMsg .ll .phone{margin-bottom: 20px;}
}
@media only screen and (max-width: 768px){
	.ind-box2 .cont{padding: 0;}
	.ind-box2 .item .icon{width: 85px;height: 85px;}
	.ind-box2 .item p{font-size: 15px;}
	
	.ind-box3{height: 480px;}
	.ind-box3 .cont{box-sizing: border-box;padding: 0 5%;}
	.ind-box3 .phone{width: 250px;height: 507px;}
	.ind-box3 .left {padding-top: 60px;}
	.ind-box3 .right{padding-top: 80px;}
	.ind-box3 .right{width: 40%;}
	.ind-box3 .right .ewm{width: 150px;height: 150px;}
	.ind-box3 .right .tit{font-size: 24px;}
	
	
	.indx-partner li{height:99px;margin-bottom: 15px;}
	
	.footer{padding: 30px 0;}
	.footTitle{font-size: 24px;line-height: 30px;}
	.footer .footMsg{margin-top: 30px;}
	.footer .footMsg .ll{width: 55%;}
	.footer .footMsg .ll .text{font-size: 14px;}
	.footer .footMsg .ll .phone{margin-bottom: 5px;}
	.footer .footMsg .logo{width: 190px;height: 60px;}
	
}


@media only screen and (max-width: 500px){
	.xqInfor .cont p{font-size: 14px;line-height: 24px;}
	.indx-partner li{height: 42px;width: 32%;margin-right: 2%;margin-bottom: 10px;}
	.indx-partner li:nth-of-type(4n){margin-right: 2%;}
	.indx-partner li:nth-of-type(3n){margin-right: 0%!important;}
	.ind-box2 .item{padding: 0 1.5%; }
	.ind-box2 .item p{font-size: 13px;line-height: 22px;margin-top: 15px;}
	
	.ind-box3{height: auto;}
	.ind-box3 .left{width: 100%;padding-top: 50px;}
	.ind-box3 .phone{width: 200px;height: 405px;margin: 0 auto;}
	.ind-box3 .right{width: 100%;}
	.ind-box3 .right{padding-top: 40px;padding-bottom: 40px;}
	.ind-box3 .right .tit{font-size: 18px;}
	.ind-box3 .right .text{font-size: 14px; margin: 10px auto 15px auto;}
	.ind-box3 .right .ewm{width: 130px;height: 130px;}
	
	.footer{padding: 20px 0;}
	.footTitle{font-size: 20px;line-height: 26px;}
	.footer .footMsg{margin-top: 15px;}
	.footer .footMsg .ll{width: 100%;text-align: center;}
	.footer .footMsg .logo{width: 190px;height: 60px;}
	.footer .footMsg .rr{width: 100%;}
	.footer .footMsg .logo {width: 127px; height: 40px;margin: 15px auto 0 auto;}
}
@media only screen and (max-width: 420px){
	.indx-partner li{height: 73px;}
}
@media only screen and (max-width: 375px){
	.indx-partner li{height: 66px;}
	.ind-box2 .item .icon{width: 65px;height: 65px;}
	/* .ind-box2 .item p{font-size: 14px;} */
}

@media only screen and (max-width: 320px){
	.indx-partner li{height: 56px;}
}




