html{-webkit-text-size-adjust: none;}
body{font-size:14px;line-height: 24px;font-family:'微软雅黑','Helvetica Neue',Helvetica,Arial,'Microsoft YaHei','WenQuanYi Zen Hei','WenQuanYi Micro Hei'; color:#222;}
*{margin:0; padding:0;}
img{ border:none;display:block;}
ul,li{list-style:none;}
button, input, optgroup, option, select, textarea {font-family: inherit;font-size: inherit;font-style: inherit;font-weight: inherit;outline: 0;}
a{ text-decoration: none; outline: none; color:#222;cursor: pointer;-webkit-tap-highlight-color:transparent}
a:link, a:visited {text-decoration: none; outline: none;}
em,i{font-style:normal;}
input, button,textarea{ cursor: pointer; -webkit-appearance: none;-webkit-tap-highlight-color:rgba(0,0,0,0);tap-highlight-color:rgba(0,0,0,0); border: none;}
input[type="checkbox"]{ -webkit-appearance: checkbox;-moz-appearance: checkbox;appearance: checkbox;}
table{display: table; border-collapse: separate; border-spacing: 2px; border-color: grey; border-collapse: collapse; border-spacing: 0;background-color: transparent;}
thead{display: table-header-group; vertical-align: middle; border-color: inherit;}
tbody{display: table-row-group; vertical-align: middle; border-color: inherit;}
h1,h2,h3,h4,h5,h6{font-size:100%;}
.clearfix:after{clear:both;display:block;content:"";height:0;line-height:0;visibility:hidden;}
.clearfix{zoom:1;}
input::placeholder,textarea::placeholder {color: #999;}
textarea{width: 100%;padding: 10px; box-sizing: border-box;font-size: 12px;color: #666;}

.borderB1{border-bottom: 1px solid #eee;}
.bordBno{ border-bottom: none;}
.f5H5{height: 5px; background: #f5f5f5;}
.f5H10{ height: 10px; background: #f5f5f5;}
.f5bj{background: #f5f5f5;}
.whiteBj{background: #fff;}
.pubBj{ background:#53bd39;}

.w{ width: 100%;}
.pf{position: fixed;}
.pr{position: relative;}
.oh{overflow: hidden;}
.center{ text-align: center;}
.cl{clear: both;}
.pdlr4{padding: 0 4%;}
.mglr4{margin: 0 4%;}
.boxShaow{box-shadow: 0 0 8px rgba(0,0,0,0.3);}

.fl{float: left;}
.fr{float: right;}


.pubColor{ color: #53bd39;}
.red{color: red;}
.white{color: #FFF;}
.color2{color:#222;}
.color6{color: #666;}
.color9{color: #999;}
.color5{color: #555;}

.radius8{border-radius:4px ;}
.radius10{border-radius:5px ;}
.arrowR{width: 8px; height: 13px; display: block; margin-left: 5px;}

.black-bj,.black-bj2 {background: #000;opacity: 0.5;position: fixed;left: 0;top: 0;right: 0;bottom: 0;z-index: 40; }
.closebtn{ position:absolute; right:10px; top:10px; height:20px; text-align:center; line-height:20px; cursor:pointer;}
/* 关闭按钮 */
.closeBtn{ position: absolute; top: -40px; left: 50%;transform: translateX(-50%); width: 22px; height: 22px; border-radius: 50%; font-size: 23px; color: #eee; border:1px solid #eee; line-height: 22px; text-align: center;}
.w1200{ width: 1200px; margin:0 auto;box-sizing: border-box;}
.w1100{ width: 1100px; margin:0 auto;box-sizing: border-box;}

/* 标题 */
.pubtit{padding: 70px 0 50px 0;}
.pubtit .title{ font-size: 28px;line-height:42px;font-weight: normal;font-weight: bold;}

.h44{ height: 44px;}
.h50{ height: 50px;}
.h100{ height: 100px;}

/* Font */
.ftw{font-weight: bold;}
.ftn{font-weight: normal;}

.fs8{font-size: 8px;}
.fs9{font-size: 9px;}
.fs10{font-size: 10px;}
.fs12{font-size: 12px;}
.fs13{font-size: 13px;}
.fs14{font-size: 14px;}
.fs15{font-size: 15px;}
.fs16{font-size: 16px;}
.fs18{font-size: 18px;}
.fs20{font-size: 20px;}
.fs22{font-size: 22px;}
.fs24{font-size: 24px;}
.fs30{font-size: 30px;}
.fs36{font-size: 36px;}


/* Margin */
.mg0{margin: 0 auto;}
.mg5{margin: 5px;}
.mg10{margin: 10px;}
.mg15{margin: 15px;}
.mg20{margin: 20px;}
.mg30{margin: 30px;}
.mg40{margin: 40px;}
.mg50{margin: 50px;}


.pdb80{padding-bottom: 80px;}


.arrowBtn{ position: absolute; width: 100%; top: 40%;z-index: 3;left: 0;}
.arrowBtn .btn{width: 40px; height: 40px; line-height: 40px; text-align: center; border-radius: 50%; background: #b5b5b6; color: #fff; font-size: 30px; cursor: pointer; }


/* 行数显示省略号 */
.avoidOverflow{overflow:hidden;text-overflow:ellipsis; white-space:nowrap;}
.avoidOverflow2{overflow: hidden;text-overflow: ellipsis;display:-webkit-box;word-break:break-all;-webkit-box-orient:vertical; -webkit-line-clamp:2;}
.avoidOverflow3{ overflow: hidden; text-overflow: ellipsis;  display: -webkit-box;  word-break: break-all; -webkit-box-orient: vertical;-webkit-line-clamp: 3;}
.avoidOverflow4{overflow: hidden;text-overflow: ellipsis;display: -webkit-box; word-break: break-all;-webkit-box-orient: vertical; -webkit-line-clamp: 4; }

@media screen and ( max-width: 1280px){
	.w1200,.w1100{width: 100%;padding-left: 2%;padding-right: 2%;}
	
	.pdb80{padding-bottom: 45px!important;}
}

@media screen and ( max-width: 1000px){
	.pubtit{padding: 40px 0 30px 0;}
	.pubtit .title{font-size: 22px;line-height: 32px;}
	
}

@media screen and ( max-width: 500px){
	.pdb80{padding-bottom: 45px!important;}
	.pubtit{padding: 30px 0 20px 0;}
	.pubtit .title{font-size: 18px;line-height: 24px}
	
}

