* {
    margin:0;
    padding: 0;
}

html {
    font-family:"Microsoft YaHei",Arial,Helvetica,sans-serif,"宋体"; 
    color: #000;
    font-size: 14px!important;
    overflow-x: hidden !important;
    position: relative;
    font-weight:normal;
}

body {
    font-family:"Microsoft YaHei",Arial,Helvetica,sans-serif,"宋体"; 
    color: #000;
    font-size: 14px;
	height: auto;
    overflow-x: hidden !important;
    position: relative;
    font-weight:normal;
	-webkit-user-select:auto;
	-moz-user-select:auto;
	-ms-user-select:auto;
	user-select:auto;
}

h1,h2,h3,h4,h5,h6,p,ul { 
    margin: 0;
    padding: 0;
}
h1,h2,h3,h4,h5,h6 {
/*  font-family: 'Josefin Sans', sans-serif;*/
    color: #272626;
    text-transform: capitalize;
    font-weight: normal;
}


button {
    border: none;
    outline: none;
    box-shadow: none;
    display: block; 
    padding: 0;
}
/*img {width: 100%; display: block;}*/
input,textarea {outline: none; -webkit-box-shadow: none; box-shadow: none;-webkit-transition: all 0.4s ease-in-out;transition: all 0.4s ease-in-out;}
.main-page-wrapper {overflow-x: hidden !important;}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
	clear: both;
}

.swiper-box {
	height: 380rpx;
	box-sizing: border-box;
	overflow: hidden;
}

.swiper-box swiper-item {
	width: 100%;
}

.swiper-box image {
	width: 100%;
	height: 100%;
}

.f5H5{height: 10rpx; background: #f5f5f5;}
.f5H10{ height: 20rpx; background: #f5f5f5;}

.font7{
	font-size: 14rpx;
}
.font8{
	font-size: 16rpx;
}
.font9{
	font-size: 18rpx;
}
.font10{
	font-size: 20rpx;
}
.font11{
	font-size: 22rpx;
}
.font12{
	font-size: 24rpx;
}
.font13{
	font-size: 26rpx;
}
.font14{
	font-size: 28rpx;
}
.font15{
	font-size: 30rpx;
}
.font16{
	font-size: 32rpx;
}
.font17{
	font-size: 34rpx;
}
.font24{ 
	font-size: 24rpx;
}
.font26{
	font-size: 26rpx;
}
.font28{
	font-size: 28rpx;
}
.font30{
	font-size:30rpx;
}
.font32{
	font-size:32rpx;
}
.font34{
	font-size:34rpx;
}


.w700 {
	width: 700rpx;
  margin: 0px auto;
}
.ilblock{
	display: inline-block;
}
.radius{
	border-radius:12rpx ;
}
.hiden{
	overflow: hidden;
}
.pubColor{ color: #ffcb1e;}
.color1{
	color:#222;
}
.color2{
	color: #666;
}
.color3{
	color: #999;
}
.color4{
	color: rgb(255,59,59);
}
.color41{
	color: rgba(255,59,59,0.6);
}
.color5{
	color: #fff;
}
.color6{
	color:rgb(255,92,157);
}
.color7{
	color: #ECAE79;
}
.color8{
	color:#00A1E9;
}
.red{color: red;}
.fat-font{
	font-weight: bolder;
}
.ftw{font-weight: bold;}
.ftn{font-weight: normal;}

.pdlr4{padding: 0 4%;}
.mglr4{margin: 0 4%;}
.w100{
	width:100%;
}

.noDataBox{margin: 80rpx auto;}
.noDataBox image{width: 275rpx; height: 282rpx; display: block;margin: 0 auto;}


/* 选择 */
.r-selt{ display: flex;}
.r-selt .selt{width:150rpx; display: flex; justify-content: flex-start; align-items: center;}
.r-selt .selt image{width: 36rpx;height: 36rpx; display: inline-block; margin-right: 10rpx;}


/* 页面右侧固定按钮 */
.fabubtn{ width: 120rpx;font-size: 28rpx; text-align: center; position: fixed; top: 50%;right: 20rpx; z-index: 66;transform: translateY(-50%);}
.fabubtn .icon{width: 90rpx; height: 90rpx;border-radius: 50%;display: block;margin:8rpx auto;}
.fabubtn .icon image{width: 100%;height: 100%; display: block;}
.fabubtn .tit{text-shadow: 0 0 8rpx rgba(0,0,0,0.2);}

/* 公共标题 */
.infor-title{color: #222; font-size:30rpx; line-height: 40rpx; position: relative;padding: 30rpx 4% 0 4%;position: relative;}
.infor-title .tt{font-weight: bold;font-size:30rpx;position: relative;z-index:2; }
.infor-title .more{ font-size: 26rpx; color: #999;}
.infor-title .xian{position: absolute; top: 56rpx;width: 100rpx; height: 10rpx;background: #FFCB1E; z-index: 0; }


.pubTit2{ font-size: 30rpx; font-weight: bold;line-height: 50rpx;padding-top: 20rpx!important;}

/* 提交按钮 */
.submitbtn button{width: 80%; height: 80rpx; line-height: 80rpx; text-align: center; color: #222; background: #FFCB1E; border-radius: 10rpx; font-size:30rpx; margin: 0rpx auto 60rpx auto; display:block ;}
.submitbtn button::after{border: none;}



/* 关闭按钮 */
.colseBtn{ position: absolute; top: -80rpx; left: 50%;transform: translateX(-50%); width: 50rpx; height: 50rpx; border-radius: 50%; font-size: 46rpx; color: #999; border:2rpx solid #999; line-height: 44rpx; text-align: center; background: #fff;}

.boxShaow{
	box-shadow: 0 0 10rpx rgba(0,0,0,0.1);
}
.center{ text-align: center;}
.price{ color: #ff3b3b;}
.price::before{
	content: "￥";
}
.priceM{ color: #ff3b3b;}
.priceM::before{
	content: "￥";
}
/* .priceM::after{
	content: "/㎡";
} */

/* 小星星 */
.starClass{font-size: 20rpx;color: #999;}
.starBox{ width: 180rpx; display: flex;flex-direction: row; justify-content: flex-end; align-items: center; }
.starBox image{width: 25rpx; height: 24rpx; margin-right: 10rpx;}

/* 大星星 */
.starBigBox{ display: flex;flex-direction: row; justify-content: flex-end; align-items: center; }
.starBigBox image{width: 36rpx; height: 36rpx; margin:0 10rpx;}



/* 填写信息列表 */
.pub_editInfor .item{ padding: 30rpx 4%; line-height: 40rpx; display: flex;justify-content: flex-start;box-sizing: border-box;border-bottom: 2rpx solid #e7e7e7;}
.pub_editInfor .item .name{ font-size: 28rpx; width: 160rpx;}
.pub_editInfor .item .rr{ width: 530rpx;box-sizing: border-box;}
.pub_editInfor .item .rr input{width: 100%;box-sizing: border-box;padding: 0 10rpx;}
.yzmBtn{position: absolute; top: 50%;right: 0; font-size: 28rpx; color: #FFCB1E;padding: 20rpx 20rpx; background: #fff;transform: translateY(-50%);background: #fff; z-index: 2;}
.pub_editInfor .item .arrow{width: 12rpx; height: 24rpx; display:block;position: absolute;top: 50%;right: 0;transform: translateY(-50%);}
.pub_editInfor .item .arrow image{width: 100%;height: 100%; display: block;}

.pr{
  position: relative;
}

/* 退款说明弹框 */
.refundAlert{background: rgba(0,0,0,0.5); position: fixed; top: 0;right: 0; bottom: 0; left: 0;}
.refundExplain{width: 90%;background: #fff; border-radius: 10rpx; padding: 30rpx;box-sizing: border-box;  position: fixed; top:50%;left: 50%;transform: translate(-50%,-60%); }
.refundExplain .textMsg{background: #f5f5f5; padding: 20rpx;box-sizing:border-box; font-size: 26rpx; height: 300rpx; display: block;width: 100%;}
.refundExplain .colseBtn{color: #fff; border: 2rpx solid #fff;background: none;}

.flexRowAround{
	display:flex;
	flex-direction:row;
	justify-content: space-around;
	align-items:center;
}
.flexRowBetween{
	display:flex;
	flex-direction:row;
	justify-content:space-between;
	align-items:center;
}
.avoidOverflow{
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
}
.avoidOverflow2{
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	word-break: break-all;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2; 
}
.avoidOverflow3{
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	word-break: break-all;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 3; 
}
.flex1{
	display:flex;
}
.flex{
	display:flex;
	align-items:center;
}
.flexCenter{
	display:flex;
	align-items:center;
	justify-content:center;
}

/* 公共切换导航 */
.orderNav{display: flex; justify-content: space-between; align-items: center; height: 100rpx;background: #fff;padding: 0 4%; }
.orderNav .tt{ width: 33.3%;color: #666;  font-size: 30rpx; text-align: center; line-height: 100rpx;}
.orderNav .on{ color: #537DEB; position: relative;}
.orderNav .on::after{content: ""; width: 60rpx; height: 6rpx;background: #537DEB; position: absolute; bottom: 0;left: 50%;transform: translateX(-50%);}


